__pycache__/
logger.logger

# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environments
venv/
env/
env.bak/
env1/
env2/
.env

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.eclipse/
.pydevproject
.pycharm/
*.bak
*.swp
*~.nib/
*.swp
*~
*.log
*.tmp
*.tmp.*
*.bak
*.cache
*.project
*.tmproj
*.pydevproject
*.orig
*.bak
*.tmp
*.swp
.local/
.mypy_cache/
.dmypy.json
dmypy.json
pylint.lock
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.coverage
.tox/
.nox/
.coverage.*
.hypothesis/
.pytest_cache/
pytestdebug.log
testdebug.log
python_testsuite.log
.venv/
env/
ENV/
env.bak/
env1/
env2/
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
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
